h3 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.attributes, .operators {
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
}

.attribute, .operator {
    cursor: pointer;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    padding: 5px;
}

.query {
    width: 60%;
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 50px;
    margin-bottom: 10px;
}

#generate-query {
    margin-bottom: 10px;
}

.loading-bar {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    display: none;
}

.loading {
    background-color: #4CAF50;
    width: 0%;
    height: 100%;
    animation: progress 2s linear forwards;
}

@keyframes progress {
    0% { width: 0%; }
    100% { width: 100%; }
}
